:local(.community_grid_cell) {
    width: 33%;
    padding: 0 10px;

    display: inline-block;
    vertical-align: top;
    transition: all ease-in-out .15s;

    position: relative;
}


@media (max-width: 1200px) {
    :local(.community_grid_cell) {
        width: 50%;
    }
}

@media (max-width: 1600px) {
    :local(.community_grid_cell) {
        width: 50%;
    }
}

@media (max-width: 1140px) {
    :local(.community_grid_cell) {
        width: 100%;
    }
}

:local(.community_card) {
    padding: 10px 10px 5px;
    cursor: pointer;
    margin-bottom: 16px;
}

:local(.community_card:first-child) {
    display: table;
    table-layout: fixed;
    width: 100%;
}

:local(.card) {
    border-radius: 5px;
    padding: 20px 22px;
    margin-bottom: 30px;

    background: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,.1)
}

:local(.community_profile_picture_container) {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    width: 130px;
}

:local(.new_user_badge_position_community) {
    top: 5px;
    left: 95px;
}

:local(.new_user_badge_community) {
    width: 48px;
    border: 3px solid #FFF;
    border-radius: 170px;
    position: absolute;
    background: #EB3685;
    color: #fff;
    text-align: center;
    font-weight: 600;
    height: 48px;
    padding-top: 11px;
}

:local(.profile_picture_community) {
    width: 130px;
    height: 130px;
    z-index: 3;

    border-radius: 200px;
    background: #f0f0f0;
    cursor: pointer;

    vertical-align: middle;
}

:local(.community_info_container) {
    display: table-cell;
    padding-left: 20px;
    vertical-align: middle;
}

:local(.community_personal_info_name) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

:local(.community_personal_info_name b) {
    font-weight: 700;
}

:local(.community_personal_info_age) {
    display: inline;
    vertical-align: top;
    margin-right: 5px;

    font-weight: 300;

    margin-left: 10px;

    color: #acb1bc;
}

:local(.dot_connected) {
    vertical-align: top;
    margin: 5px 0 0 3px;
    font-size: 10px;

    color: #05cf5b;
}

:local(.community_description_container) {

}